.section2_images_and_info {
    border: 1px solid rgba(102, 98, 98, 0.281);
    background: rgba(51, 50, 50, 0.281);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    gap: 12px;
}

.left,
.middle,
.right {
    border: 1px solid rgba(102, 98, 98, 0.281);
    background: rgba(51, 50, 50, 0.281);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    flex: 1;

    /* Center contents */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* spacing between children */
}


#mini_title {
    background-color: #1c1c1c;
    border: 1px solid #444;
    color: #dfdd63;
    border-radius: 6px;
    padding: 10px;
    font-size: 12px;
    transition: border 0.3s ease;
    height: 24px;
    width: 100%;
    text-align: center;
}

#mini_title:focus {
    border-color: #ffcd57;
    outline: none;
}

.image-upload img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid #555;
    cursor: pointer;
    margin-top: 10px;
}

.mini-textarea {
    background-color: #1c1c1c;
    border: 1px solid #444;
    color: #eee;
    border-radius: 6px;
    padding: 10px;
    font-size: 12px;
    transition: border 0.3s ease;
    height: 80px;
    width: 100%;
    resize: none;
    margin-top: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #1c1c1c;
}

.mini-textarea:focus {
    border-color: #ffcd57;
    outline: none;
}


#preview_left,#preview_middle,#preview_right{
    transition: .24s;
}

#preview_left:hover,#preview_middle:hover,#preview_right:hover{
    cursor: pointer;
    transform: scale(1.049);
}

#preview_left:active,#preview_middle:active,#preview_right:active{
    transform: scale(0.97);
}
